.btn {
  background-color: transparent;
  border: none;
  padding: 0;
  text-decoration: none;

  &:focus,
  &:active {
    outline: 0;
  }

  &.btn--primary {
    font-family: $baseFontFamily;
    text-decoration: none;
    text-transform: lowercase;
    color: $black;
    position: relative;
    transition: color .2s ease;
    font-variant: small-caps;

    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      bottom: -2px;
      background-color: $green;
    }

    &:hover {
      color: $green;
    }
  }

  &.btn--cta {
    background-color: $green;
    border-radius: 40px;
    color: $white;
    padding: 10px 25px;
    text-transform: lowercase;
    font-variant: small-caps;
  }
}

