.card {
  box-shadow: 0 0 1rem 0.2rem rgba($black, 0.1);
  background-color: $white;
  box-sizing: border-box;
  position: relative;
  z-index: 2;

  h2 {
    color: $black !important;
  }

  &.card--hover {
    transition: all .1s ease-in-out;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 1rem 0.2rem rgba($black, 0.4);
    }
  }

  &.card--text {
    z-index: auto;

    &:before,
    &:after {
      content: '';
      position: absolute;
      background: url('../../images/quote.svg') no-repeat;
      width: 10rem;
      height: 10rem;
      z-index: -1;
    }

    &:before {
      left: -4rem;
      top: -4rem;
    }

    &:after {
      right: -4rem;
      bottom: -4rem;
      transform: rotate(180deg);
    }
  }
}