.slider-item {
  width: 100%;
}

.slider-item__quote {
  font-size: 1.2rem;
}

.slider-item__intro {
  font-variant: small-caps;
  color: $green;
  font-size: 1.2rem;
  display: inline-block;
}

.flickity-prev-next-button {
  display: none;

  &.previous { left: -3rem }
  &.next { right: -3rem }

  &:hover {

    .arrow {
      fill: $green;
    }
  }

  @media (min-width: 64em) {
    display: block;
  }
}




