header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: $white;
  z-index: 10;
  transform: translateZ(0);

  &.has-scrolled .wrap {
    height: 4rem;
  }

  .wrap {
    display: flex;
    align-items: center;
    height: 6rem;
    transition: height .2s ease-in-out;
  }

  nav {
    margin-left: auto;

  }
}

