/* Modifiers */
.section--dark {

  h2 {
    color: $white;
  }
}

/* Sections */
section {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.section--intro {
  height: calc(100vh - 4rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin-top: 4rem;

  h2 {
    font-size: 2.2rem;
  }

  p {
    color: $white;
  }
}

.section--what-does-it-do {

  .block:nth-child(even) {
    background-color: $light-gray;
  }
}

@media (min-width: 64em) {
  .section--intro {
    height: 280vh;
    margin-top: 0;

    h2 {
      font-size: 3rem;
    }
  }

  .section--what-does-it-do {
    overflow: initial;

    .card {
      top: -10rem;
      margin-bottom: -10rem;
    }
  }
}

.section--products {

  /*.card {
    width: calc(100vw - 2rem);
    height: calc(100vw - 2rem);

    @media (min-width: 52rem) {
      width: 40vw;
      height: 40vw;
    }

    @media (min-width: 80rem) {
      width: 25vw;
      height: 25vw;
    }
  }*/
}