/* Fonts */
$baseFontFamily: 'questa_sansregular', sans-serif;
$headingFontFamily: 'questa_slabregular', sans-serif;
$boldFontFamily: 'questa_sansbold', sans-serif;

/* Colors */
$green: #97CC4C;
$black: #0E213C;
$light-gray: #F8F8F8;
$middle-gray: #81868C;
$dark-gray: #343237;
$white: #ffffff;