/* Fonts */
$baseFontFamily: 'questa_sansregular', sans-serif;
$headingFontFamily: 'questa_slabregular', sans-serif;
$boldFontFamily: 'questa_sansbold', sans-serif;

/* Colors */
$green: #9FF149;
$black: #0C0D0D;
$light-gray: #f9f9f9;